In [1]:
import glob
import pandas as pd

In [2]:
all_files = glob.glob("..\\data\\process\\*_AFID_60072061.csv")
len(all_files)

21

In [3]:
all_files

['..\\data\\process\\2005_AFID_60072061.csv',
 '..\\data\\process\\2006_AFID_60072061.csv',
 '..\\data\\process\\2007_AFID_60072061.csv',
 '..\\data\\process\\2008_AFID_60072061.csv',
 '..\\data\\process\\2009_AFID_60072061.csv',
 '..\\data\\process\\2010_AFID_60072061.csv',
 '..\\data\\process\\2011_AFID_60072061.csv',
 '..\\data\\process\\2012_AFID_60072061.csv',
 '..\\data\\process\\2013_AFID_60072061.csv',
 '..\\data\\process\\2014_AFID_60072061.csv',
 '..\\data\\process\\2015_AFID_60072061.csv',
 '..\\data\\process\\2016_AFID_60072061.csv',
 '..\\data\\process\\2017_AFID_60072061.csv',
 '..\\data\\process\\2018_AFID_60072061.csv',
 '..\\data\\process\\2019_AFID_60072061.csv',
 '..\\data\\process\\2020_AFID_60072061.csv',
 '..\\data\\process\\2021_AFID_60072061.csv',
 '..\\data\\process\\2022_AFID_60072061.csv',
 '..\\data\\process\\2023_AFID_60072061.csv',
 '..\\data\\process\\2024_AFID_60072061.csv',
 '..\\data\\process\\2025_AFID_60072061.csv']

In [4]:
step = 1
for file in all_files:
    df = pd.read_csv(file,delimiter=',', index_col="id")
    año = int(file.split("\\")[-1][:4])
    df["año"] = año
    print(año, df.shape)

    if step: 
        step = 0
        big_df = df.copy()
    else:
        big_df = pd.concat([big_df, df], ignore_index=True)

2005 (21, 25)
2006 (21, 25)
2007 (18, 25)
2008 (13, 25)
2009 (19, 25)
2010 (19, 25)
2011 (29, 25)
2012 (37, 25)
2013 (45, 25)
2014 (87, 25)
2015 (108, 25)
2016 (216, 25)
2017 (319, 25)
2018 (396, 25)
2019 (386, 25)
2020 (457, 25)
2021 (480, 25)
2022 (574, 25)
2023 (579, 25)
2024 (582, 25)
2025 (199, 25)

In [5]:
big_df.shape

(4605, 25)

In [6]:
df_again = pd.read_csv("..\\data\\process\\again.csv",delimiter=',', index_col="id")

In [7]:
# Actualizar solo las filas que tienen coincidencia en df_again
big_df = big_df.set_index('url')
df_again_indexed = df_again.set_index('url')

# Solo actualizar las URLs que existen en df_again
common_urls = big_df.index.intersection(df_again_indexed.index)
big_df.loc[common_urls] = df_again_indexed.loc[common_urls]

big_df = big_df.reset_index()

In [8]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4605 entries, 0 to 4604
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        4605 non-null   object
 1   doi                        4239 non-null   object
 2   url_doi                    4239 non-null   object
 3   eid                        4605 non-null   object
 4   title                      4605 non-null   object
 5   abstract                   4494 non-null   object
 6   key_words                  3953 non-null   object
 7   cuartil                    0 non-null      float64
 8   volume                     3694 non-null   object
 9   authors                    4582 non-null   object
 10  affiliations               4582 non-null   float64
 11  issn                       3839 non-null   object
 12  magazine                   3664 non-null   object
 13  citeScore                  3516 non-null   float64
 14  citations_scopus_count     4605 non-null   float64
 15  language                   4517 non-null   object
 16  coverDate                  4605 non-null   object
 17  publication_year           4605 non-null   float64
 18  page_raw                   2679 non-null   object
 19  page_count                 2664 non-null   float64
 20  scimago_factor_SJR         3434 non-null   object
 21  scimago_SJR_Best_Quartile  3471 non-null   object
 22  eid_original_input         4605 non-null   object
 23  error_message              0 non-null      object
 24  año                        4546 non-null   float64
dtypes: float64(7), object(18)
memory usage: 899.5+ KB

In [9]:
big_df.describe()

,cuartil,affiliations,citeScore,citations_scopus_count,publication_year,page_count,año
count,0.0,4582.0,3516.000000,4605.000000,4605.000000,2664.000000,4546.000000
mean,NaN,60072061.0,5.129181,11.127470,2020.077524,11.726351,2020.104267
std,NaN,0.0,5.011569,29.087551,3.647456,16.402256,3.661670
min,NaN,60072061.0,0.000000,0.000000,2005.000000,0.000000,2005.000000
25%,NaN,60072061.0,1.200000,1.000000,2018.000000,6.000000,2018.000000
50%,NaN,60072061.0,4.400000,3.000000,2021.000000,10.000000,2021.000000
75%,NaN,60072061.0,7.200000,11.000000,2023.000000,14.000000,2023.000000
max,NaN,60072061.0,61.100000,996.000000,2025.000000,487.000000,2025.000000

In [10]:
big_df.head()

,url,doi,url_doi,eid,title,abstract,key_words,cuartil,volume,authors,...,language,coverDate,publication_year,page_raw,page_count,scimago_factor_SJR,scimago_SJR_Best_Quartile,eid_original_input,error_message,año
0,https://www.scopus.com/record/display.uri?eid=...,10.1016/j.aquaculture.2005.03.044,https://doi.org/10.1016/j.aquaculture.2005.03.044,2-s2.0-28444483175,Pathogenicity of white spot syndrome virus on ...,White Spot Syndrome Virus (WSSV) has decimated...,"Breeding, Challenge test, Larval stages, Penae...",NaN,250.0,"Franklin Pérez, Jorge Calderón, Franklin Pérez",...,English,2005-12-30,2005.0,586-591,5.0,"1,096",Q1,2-s2.0-28444483175,NaN,2005.0
1,https://www.scopus.com/record/display.uri?eid=...,NaN,NaN,2-s2.0-33751302754,Detecting convergence in genetic algorithms wi...,The efficiency and effectiveness of Real-Coded...,"Convergence, Diversity index, Genetic algorith...",NaN,2005.0,Sixto E. García,...,English,2005-12-01,2005.0,369-374,5.0,NaN,NaN,2-s2.0-33751302754,NaN,2005.0
2,https://www.scopus.com/record/display.uri?eid=...,10.1175/JCLI3589.1,https://doi.org/10.1175/JCLI3589.1,2-s2.0-30144437338,Observed trends in indices of daily temperatur...,A workshop on enhancing climate change indices...,NaN,NaN,18.0,J.L. Santos,...,English,2005-12-01,2005.0,5011-5023,12.0,"2,169",Q1,2-s2.0-30144437338,NaN,2005.0
3,https://www.scopus.com/record/display.uri?eid=...,10.1088/0957-0233/16/11/031,https://doi.org/10.1088/0957-0233/16/11/031,2-s2.0-27344459102,Uncertainty evaluation of out-of-plane displac...,Electronic speckle-pattern interferometry (ESP...,"Displacement fields, Monte Carlo method, Speck...",NaN,16.0,Raul R. Cordero,...,English,2005-11-01,2005.0,2365-2374,9.0,"0,585",Q2,2-s2.0-27344459102,NaN,2005.0
4,https://www.scopus.com/record/display.uri?eid=...,10.1016/j.enconman.2005.02.008,https://doi.org/10.1016/j.enconman.2005.02.008,2-s2.0-19944374128,Climatology of surface ultraviolet-radiation i...,"Despite the lack of long-term records, it is p...","Climatology, Ozone, UV irradiance",NaN,46.0,Raúl R. Cordero,...,English,2005-11-01,2005.0,2907-2918,11.0,"2,659",Q1,2-s2.0-19944374128,NaN,2005.0

In [11]:
# big_df.to_csv("../data/create/all_data_2005_to_2009.csv", index=False)
big_df.to_csv("../data/process/all_data_api.csv", index=False)

In [12]:
big_df["url_doi"][0]

'https://doi.org/10.1016/j.aquaculture.2005.03.044'

In [13]:
big_df["title"][0]

'Pathogenicity of white spot syndrome virus on postlarvae and juveniles of Penaeus (Litopenaeus) vannamei'

In [14]:
big_df["abstract"][0]

'White Spot Syndrome Virus (WSSV) has decimated the shrimp aquaculture around the world. Breeding efforts to generate resistant stocks are necessary but there is a lack of basic information on challenge test strategies focused on genetic selection. Infection routes and developmental stages were evaluated on Penaeus vannamei as a first step in a strategy to select white spot virus (WSSV)-resistant stocks. Mortalities could not be induced before the PL30 stage. The impact of infection by immersion and blended tissue was intermediate on mortalities when compared to the minced tissue treatment on PL30. Blended and minced tissue treatments produced the highest mortalities on PL40 while immersion was intermediate. A general tendency towards higher susceptibility associated with older stages was detected. Additionally, juveniles of 1 g average weight from three local breeding programs were challenged. There were no differences in survival between the programs, although two of them derived their progenies from survivors of strong WSSV events. The implications of these results to the WSSV epidemiological characteristics and breeding programs are discussed. © 2005 Elsevier B.V. All rights reserved.'

In [15]:
big_df[(~big_df["url"].isna() & big_df["url"].str.contains("scopus.com"))].shape

(4605, 25)

In [16]:
df_scopu = big_df[(~big_df["url"].isna() & big_df["url"].str.contains("scopus.com"))]

In [17]:
for url_actual in df_scopu["url"]:
    print(url_actual)

    print(df_scopu[df_scopu["url"] == url_actual])
    break

https://www.scopus.com/record/display.uri?eid=2-s2.0-28444483175&origin=resultslist
                                                 url  \
0  https://www.scopus.com/record/display.uri?eid=...

                                 doi  \
0  10.1016/j.aquaculture.2005.03.044

                                             url_doi                 eid  \
0  https://doi.org/10.1016/j.aquaculture.2005.03.044  2-s2.0-28444483175

                                               title  \
0  Pathogenicity of white spot syndrome virus on ...

                                            abstract  \
0  White Spot Syndrome Virus (WSSV) has decimated...

                                           key_words  cuartil volume  \
0  Breeding, Challenge test, Larval stages, Penae...      NaN  250.0

                                          authors  ...  language   coverDate  \
0  Franklin Pérez, Jorge Calderón, Franklin Pérez  ...   English  2005-12-30

  publication_year  page_raw  page_count scimago_factor_SJR  \
0           2005.0   586-591         5.0              1,096

  scimago_SJR_Best_Quartile  eid_original_input error_message     año
0                        Q1  2-s2.0-28444483175           NaN  2005.0

[1 rows x 25 columns]

In [18]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4605 entries, 0 to 4604
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        4605 non-null   object
 1   doi                        4239 non-null   object
 2   url_doi                    4239 non-null   object
 3   eid                        4605 non-null   object
 4   title                      4605 non-null   object
 5   abstract                   4494 non-null   object
 6   key_words                  3953 non-null   object
 7   cuartil                    0 non-null      float64
 8   volume                     3694 non-null   object
 9   authors                    4582 non-null   object
 10  affiliations               4582 non-null   float64
 11  issn                       3839 non-null   object
 12  magazine                   3664 non-null   object
 13  citeScore                  3516 non-null   float64
 14  citations_scopus_count     4605 non-null   float64
 15  language                   4517 non-null   object
 16  coverDate                  4605 non-null   object
 17  publication_year           4605 non-null   float64
 18  page_raw                   2679 non-null   object
 19  page_count                 2664 non-null   float64
 20  scimago_factor_SJR         3434 non-null   object
 21  scimago_SJR_Best_Quartile  3471 non-null   object
 22  eid_original_input         4605 non-null   object
 23  error_message              0 non-null      object
 24  año                        4546 non-null   float64
dtypes: float64(7), object(18)
memory usage: 899.5+ KB

In [19]:
big_df.head()

,url,doi,url_doi,eid,title,abstract,key_words,cuartil,volume,authors,...,language,coverDate,publication_year,page_raw,page_count,scimago_factor_SJR,scimago_SJR_Best_Quartile,eid_original_input,error_message,año
0,https://www.scopus.com/record/display.uri?eid=...,10.1016/j.aquaculture.2005.03.044,https://doi.org/10.1016/j.aquaculture.2005.03.044,2-s2.0-28444483175,Pathogenicity of white spot syndrome virus on ...,White Spot Syndrome Virus (WSSV) has decimated...,"Breeding, Challenge test, Larval stages, Penae...",NaN,250.0,"Franklin Pérez, Jorge Calderón, Franklin Pérez",...,English,2005-12-30,2005.0,586-591,5.0,"1,096",Q1,2-s2.0-28444483175,NaN,2005.0
1,https://www.scopus.com/record/display.uri?eid=...,NaN,NaN,2-s2.0-33751302754,Detecting convergence in genetic algorithms wi...,The efficiency and effectiveness of Real-Coded...,"Convergence, Diversity index, Genetic algorith...",NaN,2005.0,Sixto E. García,...,English,2005-12-01,2005.0,369-374,5.0,NaN,NaN,2-s2.0-33751302754,NaN,2005.0
2,https://www.scopus.com/record/display.uri?eid=...,10.1175/JCLI3589.1,https://doi.org/10.1175/JCLI3589.1,2-s2.0-30144437338,Observed trends in indices of daily temperatur...,A workshop on enhancing climate change indices...,NaN,NaN,18.0,J.L. Santos,...,English,2005-12-01,2005.0,5011-5023,12.0,"2,169",Q1,2-s2.0-30144437338,NaN,2005.0
3,https://www.scopus.com/record/display.uri?eid=...,10.1088/0957-0233/16/11/031,https://doi.org/10.1088/0957-0233/16/11/031,2-s2.0-27344459102,Uncertainty evaluation of out-of-plane displac...,Electronic speckle-pattern interferometry (ESP...,"Displacement fields, Monte Carlo method, Speck...",NaN,16.0,Raul R. Cordero,...,English,2005-11-01,2005.0,2365-2374,9.0,"0,585",Q2,2-s2.0-27344459102,NaN,2005.0
4,https://www.scopus.com/record/display.uri?eid=...,10.1016/j.enconman.2005.02.008,https://doi.org/10.1016/j.enconman.2005.02.008,2-s2.0-19944374128,Climatology of surface ultraviolet-radiation i...,"Despite the lack of long-term records, it is p...","Climatology, Ozone, UV irradiance",NaN,46.0,Raúl R. Cordero,...,English,2005-11-01,2005.0,2907-2918,11.0,"2,659",Q1,2-s2.0-19944374128,NaN,2005.0

In [20]:
big_df[~big_df["error_message"].isna()]

Empty DataFrame
Columns: [url, doi, url_doi, eid, title, abstract, key_words, cuartil, volume, authors, affiliations, issn, magazine, citeScore, citations_scopus_count, language, coverDate, publication_year, page_raw, page_count, scimago_factor_SJR, scimago_SJR_Best_Quartile, eid_original_input, error_message, año]
Index: []

[0 rows x 25 columns]

In [21]:
big_df[~big_df["error_message"].isna()]

Empty DataFrame
Columns: [url, doi, url_doi, eid, title, abstract, key_words, cuartil, volume, authors, affiliations, issn, magazine, citeScore, citations_scopus_count, language, coverDate, publication_year, page_raw, page_count, scimago_factor_SJR, scimago_SJR_Best_Quartile, eid_original_input, error_message, año]
Index: []

[0 rows x 25 columns]

In [22]:
df_all_data = pd.read_csv("../data/create/all_data.csv", delimiter=",")

In [23]:
big_df[~big_df["error_message"].isna()]["url"]

Series([], Name: url, dtype: object)

In [24]:
# Obtener URLs que tienen errores
urls_with_errors = big_df[~big_df["error_message"].isna()]["url"]
# Filtrar df_all_data usando esas URLs
df_filtered = df_all_data[df_all_data["urlPage"].isin(urls_with_errors)]

In [25]:
df_filtered.shape

(0, 15)

In [26]:
df_filtered.to_csv("../data/create/again.csv", index=False)