In [1]:
import pandas as pd

In [5]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("./dataset/patentes_target_update.csv")

In [6]:
df.head()

,aplication_number,publication_number,title,abstract,decision,text,gpu_used,batch_id
0,14176610,US20140159107A1-20140612,SEMICONDUCTOR DEVICE,Some aspects of the invention include a trench...,ACCEPTED,semiconductor device some aspects of the inven...,NaN,NaN
1,14176611,US20140225674A1-20140814,BI-DIRECTIONAL POWER SUPPLY SIGNAL BASED LINEA...,"Circuitry, which includes a linear amplifier, ...",ACCEPTED,bi directional power supply signal based linea...,NaN,NaN
2,14176612,US20140212394A1-20140731,NOVEL VIP3 TOXINS AND METHODS OF USE,Nucleic acid molecules encoding novel Vip3 tox...,ACCEPTED,novel vip toxins and methods of use nucleic ac...,NaN,NaN
3,14176614,US20140227940A1-20140814,SOLAR-POWERED ROTATING ORNAMENTAL DEVICE,A device providing a spinning ornamental desig...,REJECTED,solar powered rotating ornamental device a dev...,NaN,NaN
4,14176615,US20140153098A1-20140605,OPTICAL FILTER AND OPTICAL MODULE HAVING OPTIC...,"An optical filter includes a first substrate, ...",ACCEPTED,optical filter and optical module having optic...,NaN,NaN

In [7]:
df.size

5600664

In [8]:
df["decision"].value_counts()

decision
ACCEPTED    530501
REJECTED    169582
Name: count, dtype: int64

In [12]:
df_copy = df[["title", "abstract", "decision"]].copy()
# df_copy["text"] = df_copy["title"] + " " + df_copy["abstract"]

In [13]:
def equal_size_values(df: pd.DataFrame, column_target: str, l: int) -> pd.DataFrame:
    """
    Selecciona las últimas l filas de cada valor único en column_target.
    Si hay menos de l//2 muestras, repite aleatoriamente hasta alcanzar l//2.
    """
    df_balanced = pd.DataFrame()
    min_count = l // 2

    for value in df[column_target].unique():
        subset = df[df[column_target] == value]
        # Selecciona las últimas l filas
        subset_last = subset.iloc[-l:]
        # Si hay menos de min_count, repite aleatoriamente hasta llegar a min_count
        if len(subset_last) < min_count:
            subset_last = subset_last.sample(min_count, replace=True, random_state=42)
        df_balanced = pd.concat([df_balanced, subset_last], ignore_index=True)

    return df_balanced

In [14]:
count_rows = 100
df_2 = equal_size_values(df_copy, 'decision', l=100)

In [15]:
df_2.head()

,title,abstract,decision
0,STOVE TOP FIRE EXTINGUISHING DEVICE,An apparatus is disclosed for extinguishing a ...,ACCEPTED
1,INTEGRATED CIRCUIT THAT CONTROLS A SEARCH SPAC...,"An integrated circuit, for example, included i...",ACCEPTED
2,LONG CAMPAIGN LIFE STAVE COOLERS FOR CIRCULAR ...,Cast-iron and cast-copper stave coolers improv...,ACCEPTED
3,SEMICONDUCTOR PACKAGE STRUCTURE AND METHOD FOR...,A method for manufacturing a semiconductor pac...,ACCEPTED
4,FORECASTING AND CLASSIFYING CYBER-ATTACKS USIN...,A first collection including a first feature v...,ACCEPTED

In [16]:
df_2["decision"].value_counts()

decision
ACCEPTED    100
REJECTED    100
Name: count, dtype: int64

In [18]:
df_2.to_csv("./dataset/dataset_test.csv", index=False)