In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

### Antes de scrap

con negativos "-"

In [3]:
df_scrap = pd.read_csv("../data/scrap_.csv")
df_scrap_less = pd.read_csv("../data/scrap_page_less.csv")

In [4]:
df_scrap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4605 entries, 0 to 4604
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   eid                     4605 non-null   object
 1   url                     4605 non-null   object
 2   title                   4605 non-null   object
 3   abstract                4494 non-null   object
 4   key_words               3953 non-null   object
 5   doi                     4239 non-null   object
 6   isbn                    1462 non-null   object
 7   issn                    3754 non-null   object
 8   cuartil                 3477 non-null   object
 9   document_type           4605 non-null   object
 10  source_type             4605 non-null   object
 11  publisher               4438 non-null   object
 12  language                4604 non-null   object
 13  sponsors                499 non-null    object
 14  publication_year        4293 non-null   float64
 15  page_count              4084 non-null   object
 16  info_more_full          4605 non-null   object
 17  citations_quartile      3480 non-null   object
 18  fwci_quartile           3271 non-null   object
 19  indexed_keywords        2933 non-null   object
 20  topic_prominence_name   4482 non-null   object
 21  topic_prominence_value  4482 non-null   float64
 22  readers_count           4305 non-null   float64
 23  news_mentions_count     437 non-null    float64
 24  citations_scopus_count  2934 non-null   object
 25  fwci_value              3271 non-null   float64
 26  zero_hunger             176 non-null    object
 27  clean_water             216 non-null    object
 28  affordable_energy       405 non-null    object
 29  industry_innovation     342 non-null    object
dtypes: float64(5), object(25)
memory usage: 1.1+ MB

In [5]:
df_scrap.describe()

,publication_year,topic_prominence_value,readers_count,news_mentions_count,fwci_value
count,4293.000000,4482.000000,4305.000000,437.000000,3271.000000
mean,2439.139995,82.942189,37.461092,1.807780,1.443412
std,5026.580624,20.459220,72.191797,7.333762,2.517771
min,1900.000000,0.682000,1.000000,1.000000,0.040000
25%,2018.000000,73.747500,6.000000,1.000000,0.400000
50%,2021.000000,91.502000,16.000000,1.000000,0.800000
75%,2023.000000,97.978000,41.000000,1.000000,1.605000
max,92024.000000,99.999000,2142.000000,134.000000,59.250000

In [6]:
df_art_page = df_scrap[(df_scrap["page_count"].str.contains("Art. No. ", na=False))]
df_art_page.shape

(1419, 30)

In [7]:
df_art_page["page_count"].value_counts()

page_count
Art. No. 63         4
Art. No. 3          4
Art. No. 8          4
Art. No. 25         3
Art. No. 813        3
                   ..
Art. No. 1048       1
Art. No. 117284     1
Art. No. 401        1
Art. No. 130032     1
Art. No. 2472588    1
Name: count, Length: 1354, dtype: int64

In [8]:
df_art_page[df_art_page["page_count"].isna()]

Empty DataFrame
Columns: [eid, url, title, abstract, key_words, doi, isbn, issn, cuartil, document_type, source_type, publisher, language, sponsors, publication_year, page_count, info_more_full, citations_quartile, fwci_quartile, indexed_keywords, topic_prominence_name, topic_prominence_value, readers_count, news_mentions_count, citations_scopus_count, fwci_value, zero_hunger, clean_water, affordable_energy, industry_innovation]
Index: []

In [9]:
df_number_page = df_scrap[(~df_scrap["page_count"].isna() & ~(df_scrap["page_count"].str.contains("Art. No. ", na=False)))]#["page_count"].value_counts()#[["url", "page_count"]]
df_number_page.shape

(2665, 30)

In [10]:
df_number_page["page_count"].value_counts()

page_count
6       332
8       208
10      186
12      183
7       152
       ...
117       1
50        1
-895      1
48        1
63        1
Name: count, Length: 78, dtype: int64

In [11]:
df_number_page["page_count"].unique()

array(['6', '13', '10', '12', '16', '18', '7', '8', '9', '5', '4', '57',
       '11', '-7', '14', '17', '23', '24', '-4', '15', '1', '-86', '25',
       '19', '20', '21', '3', '22', '28', '2', '32', '50', '-79', '26',
       '117', '35', '37', '-84', '-2', '-80', '-85', '70', '-87', '-72',
       '33', '-74', '-82', '46', '30', '-8996', '27', '-892', '-88', '39',
       '0', '-78', '48', '-1', '43', '-5', '38', '-6', '-895', '31', '40',
       '-3', '34', '-62', '42', '-884', '44', '47', '29', '41', '-83',
       '-81', '-76', '63'], dtype=object)

In [12]:
df_number_page[df_number_page["page_count"].isna()]

Empty DataFrame
Columns: [eid, url, title, abstract, key_words, doi, isbn, issn, cuartil, document_type, source_type, publisher, language, sponsors, publication_year, page_count, info_more_full, citations_quartile, fwci_quartile, indexed_keywords, topic_prominence_name, topic_prominence_value, readers_count, news_mentions_count, citations_scopus_count, fwci_value, zero_hunger, clean_water, affordable_energy, industry_innovation]
Index: []

In [13]:
df_art_page.shape, df_number_page.shape, df_scrap[df_scrap["page_count"].isna()].shape

((1419, 30), (2665, 30), (521, 30))

In [14]:
df_art_page.shape[0] + df_number_page.shape[0] + df_scrap[df_scrap["page_count"].isna()].shape[0], df_scrap.shape

(4605, (4605, 30))

In [15]:
df_number_page_less = df_number_page[df_number_page["page_count"].str.contains("-")]
df_number_page_less.shape

(82, 30)

In [16]:
item_n = 1
df_number_page["url"].iloc[item_n], df_number_page["page_count"].iloc[item_n], df_number_page["publication_year"].iloc[item_n]

('https://www.scopus.com/record/display.uri?eid=2-s2.0-33751302754&origin=resultslist',
 '6',
 2005.0)

In [17]:
item_n = 3
df_number_page_less["url"].iloc[item_n], df_number_page_less["page_count"].iloc[item_n], df_number_page_less["publication_year"].iloc[item_n]

('https://www.scopus.com/record/display.uri?eid=2-s2.0-80053124586&origin=resultslist',
 '-7',
 72011.0)

In [ ]:
df_number_page_less[["url", "page_count"]].to_csv("../data/data_update/page_less.csv", index=False)

In [18]:
item_num = 0
df_scrap_less[df_scrap_less["page_count"] > 100][["url", "page_count"]].iloc[item_num, 0], df_scrap_less[df_scrap_less["page_count"] > 100][["url", "page_count"]].iloc[item_num, 1]

('https://www.scopus.com/record/display.uri?eid=2-s2.0-85029932056&origin=resultslist',
 90056)

### Despues de scrap

In [3]:
df_scrap = pd.read_csv("../data/scrap_.csv")
df_scrap_update = pd.read_csv("../data/scrap_page_less.csv")

In [4]:
df_scrap_original_copia = df_scrap.copy()

In [5]:
# 2. Establecer 'eid' como índice en ambos DataFrames
# Es importante que el DataFrame que se va a actualizar (df_scrap_actualizado)
# tenga 'eid' como índice ANTES de llamar a .update()
df_scrap_original_copia_idx = df_scrap_original_copia.set_index('eid')
df_scrap_update_idx = df_scrap_update.set_index('eid')

# 3. Usar update()
# Esto modificará df_scrap_actualizado_idx en el lugar.
# Solo las columnas que existen en AMBOS DataFrames (con índice 'eid') serán actualizadas en df_scrap_actualizado_idx.
# Si df_scrap_update_idx tiene columnas adicionales, estas NO se agregarán a df_scrap_actualizado_idx.
# Si df_scrap_update_idx tiene valores NaN, estos SÍ sobrescribirán los valores existentes en df_scrap_actualizado_idx.
df_scrap_original_copia_idx.update(df_scrap_update_idx)

# 4. Restablecer el índice (opcional, si quieres 'eid' de nuevo como columna)
df_resultado_final = df_scrap_original_copia_idx.reset_index()

In [6]:
df_resultado_final[df_resultado_final["page_count"].str.contains("-", na=False)]

Empty DataFrame
Columns: [eid, url, title, abstract, key_words, doi, isbn, issn, cuartil, document_type, source_type, publisher, language, sponsors, publication_year, page_count, info_more_full, citations_quartile, fwci_quartile, indexed_keywords, topic_prominence_name, topic_prominence_value, readers_count, news_mentions_count, citations_scopus_count, fwci_value, zero_hunger, clean_water, affordable_energy, industry_innovation]
Index: []

In [7]:
# merged_df = pd.merge(df_scrap_original_copia, df_scrap_update, on="eid", how="left", suffixes=("_original", "_update"))

# columnas_a_actualizar = [col for col in df_scrap_update.columns if col != "eid"]

# for col in columnas_a_actualizar:
#     col_original = col + '_original'
#     col_update = col + '_update'
    
#     if col_update in merged_df.columns and col_original in merged_df.columns:
#         # Usar el valor de la columna _update si no es NaN, sino usar el de _original
#         df_scrap_original_copia[col] = np.where(merged_df[col_update].notna(), merged_df[col_update], merged_df[col_original])
#     elif col_update in merged_df.columns and col not in df_scrap_original_copia.columns:
#         # Si la columna solo existe en la actualización y quieres añadirla (no es el caso de update())
#         # df_scrap_original_copia[col] = merged_df[col_update]
#         pass # Por defecto, update() no añade nuevas columnas

In [15]:
# df_scrap_original_copia[df_scrap_original_copia["page_count"].str.contains("-", na=False)]

In [9]:
url_selected = df_scrap_update["url"].iloc[0]

In [10]:
# merged_df[merged_df["url_original"] == url_selected]

In [11]:
df_scrap[df_scrap["url"] == url_selected]

,eid,url,title,abstract,key_words,doi,isbn,issn,cuartil,document_type,source_type,publisher,language,sponsors,publication_year,page_count,info_more_full,citations_quartile,fwci_quartile,indexed_keywords,topic_prominence_name,topic_prominence_value,readers_count,news_mentions_count,citations_scopus_count,fwci_value,zero_hunger,clean_water,affordable_energy,industry_innovation
27,2-s2.0-34547699521,https://www.scopus.com/record/display.uri?eid=...,Use of contextualized attention metadata for r...,The tools used to search and find Learning Obj...,"Attention metadata, Learning objects, Ranking,...",10.1145/1183604.1183608,"159593524X, 978-159593524-3",NaN,Q1,Conference Paper• Green Open Access,Conference Proceedings,NaN,English,ACM Special Interest Group on Information Retr...,2006.0,-7,Proceedings of CAMA 2006: 1st International AC...,Q3,Q4,"Computer software;, Digital libraries;, Metada...",Learning Objects; E-learning; Ontology,44.577,72.0,NaN,4896th percentile,5.06,NaN,NaN,NaN,NaN

In [12]:
df_resultado_final[df_resultado_final["url"] == url_selected]

,eid,url,title,abstract,key_words,doi,isbn,issn,cuartil,document_type,source_type,publisher,language,sponsors,publication_year,page_count,info_more_full,citations_quartile,fwci_quartile,indexed_keywords,topic_prominence_name,topic_prominence_value,readers_count,news_mentions_count,citations_scopus_count,fwci_value,zero_hunger,clean_water,affordable_energy,industry_innovation
27,2-s2.0-34547699521,https://www.scopus.com/record/display.uri?eid=...,Use of contextualized attention metadata for r...,The tools used to search and find Learning Obj...,"Attention metadata, Learning objects, Ranking,...",10.1145/1183604.1183608,"159593524X, 978-159593524-3",NaN,Q4,Conference Paper• Green Open Access,Conference Proceedings,NaN,English,ACM Special Interest Group on Information Retr...,2006.0,7.0,Proceedings of CAMA 2006: 1st International AC...,Q4,Q4,"Computer software;, Digital libraries;, Metada...",Learning Objects; E-learning; Ontology,44.577,72.0,NaN,4896th percentile,5.06,NaN,NaN,NaN,NaN

In [13]:
df_scrap_original_copia[df_scrap_original_copia["url"] == url_selected]

,eid,url,title,abstract,key_words,doi,isbn,issn,cuartil,document_type,source_type,publisher,language,sponsors,publication_year,page_count,info_more_full,citations_quartile,fwci_quartile,indexed_keywords,topic_prominence_name,topic_prominence_value,readers_count,news_mentions_count,citations_scopus_count,fwci_value,zero_hunger,clean_water,affordable_energy,industry_innovation
27,2-s2.0-34547699521,https://www.scopus.com/record/display.uri?eid=...,Use of contextualized attention metadata for r...,The tools used to search and find Learning Obj...,"Attention metadata, Learning objects, Ranking,...",10.1145/1183604.1183608,"159593524X, 978-159593524-3",NaN,Q1,Conference Paper• Green Open Access,Conference Proceedings,NaN,English,ACM Special Interest Group on Information Retr...,2006.0,-7,Proceedings of CAMA 2006: 1st International AC...,Q3,Q4,"Computer software;, Digital libraries;, Metada...",Learning Objects; E-learning; Ontology,44.577,72.0,NaN,4896th percentile,5.06,NaN,NaN,NaN,NaN

In [ ]:
df_resultado_final.to_csv("../data/data_update/scrap_1.csv", index=False)

### Antes de scrap

con valores gigantes "-"

In [26]:
df_scrap = pd.read_csv("../data/data_update/scrap_1.csv")

In [27]:
df_scrap_not_art = df_scrap[~(df_scrap["page_count"].str.contains("Art. No. ", na=False))]
df_scrap_not_art.shape

(3186, 30)

In [28]:
df_scrap_only_number = df_scrap_not_art[~df_scrap_not_art["page_count"].isna()]
df_scrap_only_number.shape

(2665, 30)

In [29]:
df_scrap_only_number["page_count"] = df_scrap_only_number["page_count"].astype(float)

C:\Users\saraujo\AppData\Local\Temp\ipykernel_12148\702730889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scrap_only_number["page_count"] = df_scrap_only_number["page_count"].astype(float)

In [35]:
df_scrap_only_number_more_than_100 = df_scrap_only_number[df_scrap_only_number["page_count"] > 100]
df_scrap_only_number_more_than_100.shape

(12, 30)

In [36]:
df_scrap_only_number_more_than_100[["url", "page_count"]].to_csv("../data/data_update/scrap_numbers.csv", index=False)

### scrap_page_numbers

In [50]:
df_scrap = pd.read_csv("..\\data\\data_update\\scrap_1.csv")
df_scrap_update = pd.read_csv("../data/scrap_page_numbers.csv")

In [51]:
df_scrap_original_copia = df_scrap.copy()

In [52]:
# 2. Establecer 'eid' como índice en ambos DataFrames
# Es importante que el DataFrame que se va a actualizar (df_scrap_actualizado)
# tenga 'eid' como índice ANTES de llamar a .update()
df_scrap_original_copia_idx = df_scrap_original_copia.set_index('eid')
df_scrap_update_idx = df_scrap_update.set_index('eid')

# 3. Usar update()
# Esto modificará df_scrap_actualizado_idx en el lugar.
# Solo las columnas que existen en AMBOS DataFrames (con índice 'eid') serán actualizadas en df_scrap_actualizado_idx.
# Si df_scrap_update_idx tiene columnas adicionales, estas NO se agregarán a df_scrap_actualizado_idx.
# Si df_scrap_update_idx tiene valores NaN, estos SÍ sobrescribirán los valores existentes en df_scrap_actualizado_idx.
df_scrap_original_copia_idx.update(df_scrap_update_idx)

# 4. Restablecer el índice (opcional, si quieres 'eid' de nuevo como columna)
df_resultado_final = df_scrap_original_copia_idx.reset_index()

In [57]:
str_url = df_scrap_update["url"].iloc[1]

In [58]:
df_scrap[df_scrap["url"] == str_url]

,eid,url,title,abstract,key_words,doi,isbn,issn,cuartil,document_type,source_type,publisher,language,sponsors,publication_year,page_count,info_more_full,citations_quartile,fwci_quartile,indexed_keywords,topic_prominence_name,topic_prominence_value,readers_count,news_mentions_count,citations_scopus_count,fwci_value,zero_hunger,clean_water,affordable_energy,industry_innovation
694,2-s2.0-85029932056,https://www.scopus.com/record/display.uri?eid=...,Interaction of the Lipopeptide Biosurfactant L...,Lichenysins produced by Bacillus licheniformis...,NaN,10.1021/acs.langmuir.7b01827,NaN,07437463,Q4,Article,Journal,American Chemical Society,English,NaN,2017.0,90056.0,"LangmuirVolume 33, Issue 38, Pages 9997 - 1000...",Q4,Q4,"1,2-Dipalmitoylphosphatidylcholine;, Calorimet...",Bacilli; Lipopeptide; Biological Control,98.524,58.0,NaN,2054th percentile,0.53,NaN,NaN,NaN,NaN

In [59]:
df_resultado_final[df_resultado_final["url"] == str_url]

,eid,url,title,abstract,key_words,doi,isbn,issn,cuartil,document_type,source_type,publisher,language,sponsors,publication_year,page_count,info_more_full,citations_quartile,fwci_quartile,indexed_keywords,topic_prominence_name,topic_prominence_value,readers_count,news_mentions_count,citations_scopus_count,fwci_value,zero_hunger,clean_water,affordable_energy,industry_innovation
694,2-s2.0-85029932056,https://www.scopus.com/record/display.uri?eid=...,Interaction of the Lipopeptide Biosurfactant L...,Lichenysins produced by Bacillus licheniformis...,NaN,10.1021/acs.langmuir.7b01827,NaN,07437463,Q2,Article,Journal,American Chemical Society,English,NaN,2017.0,9.0,"LangmuirVolume 33, Issue 38, Pages 9997 - 1000...",Q4,Q4,"1,2-Dipalmitoylphosphatidylcholine;, Calorimet...",Bacilli; Lipopeptide; Biological Control,98.524,58.0,NaN,2054th percentile,0.53,NaN,NaN,NaN,NaN

In [53]:
df_resultado_final.to_csv("../data/data_update/scrap_2.csv", index=False)